<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubFinder</title>
    <link rel="stylesheet" href="../static/main.css">
    <script type="text/javascript" src="main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <div class="one"><a href="index.html"><img class=logo src="../static/Club_Finder.png" alt="Club Finder"></a></div>
        <div class="two"><a href="about.html"><img class=logo src="../static/about_button.png" alt="Club Finder"></a></div>
        <div class="three"><a href="index.html"><img class=logo src="../static/home_button.png" alt="Club Finder"></a></div>
    </div>

    <div class="middle">
        <div class="header">
            <h1>About</h1>
        </div>
        <h2>ClubFinder is a website developed to help university students find a place on campus called home.
            Campus clubs helped us discover new paths, meet new people, and try new things.
            We hope to help you do the same. With the fall semester remaining remote for the most part,
            we know it'll be that much harder to get engaged and participate in new experiences.
            <br><br>
            We created ClubFinder because we want to share all that campus has to offer, starting with the people.
        </h2>
    </div>
</body>
</html>