<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ClubFinder</title>
    <link rel="stylesheet" href="../static/main.css">
    <script type="text/javascript" src="main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <div class="one"><a href="../templates/index.html"><img class=logo src="../static/Club_Finder.png" alt="Club Finder"></a></div>
        <div class="two"><a href="../templates/about.html"><img class=logo src="../static/about_button.png" alt="Club Finder"></a></div>
        <div class="three"><a href="../templates/index.html"><img class=logo src="../static/home_button.png" alt="Club Finder"></a></div>
    </div>

    <div class="mid-section">
        <div class="section"><h1>Welcome to</h1></div>
        <div class="section"><img class=main-logo src="../static/Club_Finder.png" alt="Club Finder"></div>
        <div class ="section"><h2>Find campus clubs at</h2></div>
    </div>

    <div class="custom-select" style="width:200px;">
        <select class="select-css">
            <option value="0">Western University</option>
            <option value="1">University of Toronto</option>
        </select>
    </div>


    <a href="form.html"><img class="button" src="../static/started.png" alt="Let's get started"></a>

</body>
</html>