. {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

body {
    background-color: #D1C6E6;
    font-family: 'Oxygen', sans-serif;
}

.nav-bar {
    display: grid;
    grid-template-column: repeat(8, 1fr);
}

.one {
    grid-column: 1/4;
    grid-row: 1;
}

.two {
    grid-column: 7/8;
    grid-row: 1;
    justify-self: right;
}

.three {
    grid-column: 8/8;
    grid-row: 1;
    justify-self: right;
}

.logo {
    width: 8.92vw;
    height: 4.09vw;
}

.main-logo {
    width: 26.75vw;
    height: 12.24vw;
}

.mid-section {
    padding-top: 2vw;
    display: grid;
    grid-template-row: repeat(4, 1fr);
}

.section {
    justify-self: center;
}

.prompt {
    text-align: center;
    line-height: 0.25vw;
}

.custom-select {
    display: block;
    margin: 0 auto
}

.select-css {
    width: 16vw;
    height: 2.5vw;
    color: #444;
    font-family: 'Oxygen', sans-serif;
    border-radius: 2vw;
    font-size: 1.5vw;
    outline: none;
}

.button {
    width: 13.38vw;
    height: 6.14vw;
    display: block;
    margin: 0 auto;
    transition: transform .2s;
}

.button:hover {
    transform: scale(1.1);
}

/*FOR THE FORMS PAGE*/

.middle {
    padding-left: 20vw;
    padding-right: 20vw;
}

label {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5vw;
}

input {
    width: 100%;
    padding: 1vw 2vw;
    margin: 1vw 0;
    box-sizing: border-box;
    border-radius: 2vw;
    outline: none;
}

button {
    width: 9vw;
    height: 3vw;
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5vw;
    color: white;
    background-color: #6100A1;
    border-radius: 2vw;
    border: 1px solid #6100A1;
    outline: none;
    transition: transform .2s;
}

button:hover {
    transform: scale(1.05);
}

/*FOR THE ABOUT PAGE*/

.header {
    display: block;
    margin: 0 auto;
}
